@model TodoListApp.WebApp.Models.AdminViewModel

<h2>Statistics</h2>
<p>
    Total users:<span id="totalUsers">@Model.TotalUsers</span><br/>
    Total pending items:<span id="totalPendingItems">@Model.TotalPendingItems</span><br/>
    Total done items:<span id="totalDoneItems">@Model.TotalDoneItems</span><br/>
</p>


<ul id="userDetails">
@foreach (var user in Model.Users)
{
    <li>
        User:<span class="user">@user.UserName</span>
        Pending:<span class="pending">@user.TotalPendingItems</span>
        Done:<span class="done">@user.TotalDoneItems</span>
    </li>
}
</ul>